<div id="<%= dom_id recipe %>">
  <div class="card-header text-center">
    <h5 class="card-title"> <%= link_to recipe.name, recipe %></h5>
  </div>
  <p class="card-text text-center">
    <%= recipe.description %>
  </p>
</div>
