<%= link_to "New food", new_food_path %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">food</th>
      <th scope="col">measurement units</th>
      <th scope="col">unit price</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
  <% @foods.each do |food| %>
        <td><%= render food %></td>
  <% end %>
    
    </tr>
   
  </tbody>
</table>