  
<%if user_signed_in?%>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <%= link_to 'Recipe App', root_url, class_name: "navbar-brand"%>

    
    <div class="collapse navbar-collapse" >
        <ul class="navbar-nav">
        <li class="nav-item active">
        <%-link_to 'recipes', recipes_path, class_name: %>
            <a class="nav-link" ><%=link_to 'recipes', recipes_path%></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><%=link_to 'food', root_path%></a>
        </li>
       <li class="nav-item">
<%= link_to "Sign out", destroy_user_session_path,  data: {
                        turbo_method: :delete
                    } %></li>
      
        </ul>
    </div>
    </nav>

<%end%>